@model DirectoryListing.Models.Directory
@{
    ViewBag.Title = string.Join("/", Model.Ancestors.Select(x => x.Name));
}
@section Style{
    <style type="text/css">
        .filesystembox {
            height: 350px
        }
    </style>
}
@section Header{
   <div style="margin-left:10px;"><h3><a href="@Url.Content("~")"><i class="fa fa-home fa-lg"></i></a>
   @for(int i=0; i<Model.Ancestors.Length; i++)
   {
       <span> / </span><a href="@Url.Content("~/"+Model.Ancestors[i].Url)">@Model.Ancestors[i].Name</a>
   }
       </h3></div>
}
@foreach (var directory in Model.Directories)
{
    var iconB64 = DirectoryListing.Models.WindowsThumbnailProvider.GetThumbnailBase64(directory.Fullpath);
    <div class="col-md-2 filesystembox">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="data:image/png;base64,@iconB64" style="width:180px;" />
                    </div>
                </div>
            </div>
            <a href="@Url.Content("~/"+directory.Url)" alt="@directory.Name">
                <div class="panel-footer">
                    <span class="pull-left">@directory.Name</span>
                    <!--<span class="pull-right"><i class="fa fa-arrow-circle-right fa-lg"></i></span>-->
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
}
@foreach (var file in Model.Files)
{
    var iconB64 = DirectoryListing.Models.WindowsThumbnailProvider.GetThumbnailBase64(file.Fullpath);
    <div class="col-md-2 filesystembox">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="data:image/png;base64,@iconB64" style="width:180px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div>@file.Size</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">@file.Name</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}